manage.py
.vscode
.vscode/
.w_venv
w_venv
.conf
conf
venv
.venv
core\settings.py
core\urls.py
core/settings.py
core/urls.py
staticfiles
pycache
__pycache__/
**/__pycache__/
__pycache__
**/__pycache__/
__pycache__/core\settings.py 
__pycache__/core/settings.py 
settings.py
urls.py
db.sqlite3
C:\Users\suporte\Documents\doc\app_cert\__pycache__
app_cert\__pycache__
**pycache__
**qrcode
requirements.txt
media\qrcode
**/media/qrcode
