
.vscode
.vscode/

.conf
conf
venv
.venv
core\settings_bk.py

core/settings_bk.py

staticfiles
pycache
__pycache__/
**/__pycache__/
__pycache__
**/__pycache__/
__pycache__/core\settings_bk.py 
__pycache__/core/settings_bk.py 
settings_bk.py


app_cert\__pycache__
**pycache__
**qrcode


venv


