{% extends 'base.html' %}
{% block title %}Pagina Inicial{% endblock %}
{% block content %}


    <div class="col-8 m-auto pt-4 pb-2">
            {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
                {% elif message.tags == 'error' %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}

            <h1>Cadastro</h1>
            <p>Digite os seus dados de acesso no campo abaixo.</p>
            <form method="POST" enctype="multipart/form-data">
                <!-- Security token -->
                {% csrf_token %}
            
            <label for="username">Usuário</label><br />
            <input type="text" name="username" placeholder="Digite o username" autofocus="true" /><br /><br />


            <button type="submit" class="btn btn-warning">Cadastrar</button>
        </form>
    </div>
    
    {% endblock %}