{% extends 'base.html' %}
{% block title %}Novo Tipo{% endblock %}
{% block content %}

<div class="sarq-page mt-3" style="max-width: 520px;">

  <div class="sarq-page-header">
    <span class="sarq-page-header-title">
      <i class="fa fa-tag"></i> Novo Tipo
    </span>
    <a href="{% url 'tipo_lista' %}" class="sarq-btn-edit">
      <i class="fa fa-arrow-left"></i> Voltar
    </a>
  </div>

  <div class="sarq-card p-4">
    <form method="POST">
      {% csrf_token %}
      {{ form.fk_user }}

      <div class="sarq-form-group">
        <label class="sarq-form-label">
          <i class="fa fa-tag"></i> Tipo
        </label>
        {{ form.tipo }}
        {% if form.tipo.errors %}<div class="sarq-field-error">{{ form.tipo.errors }}</div>{% endif %}
      </div>

      <div class="d-flex gap-2 mt-4">
        <button type="submit" class="sarq-btn-novo">
          <i class="fa fa-check"></i> Salvar
        </button>
        <a href="{% url 'tipo_lista' %}" class="sarq-btn-delete">
          <i class="fa fa-times"></i> Cancelar
        </a>
      </div>
    </form>
  </div>

</div>
{% endblock %}
