{% load permission_tags %} 
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/font-awesome.min.css' %}">
    <script src="{% static '/js/jquery.min.js' %}"></script>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/img/favicon.png' %}">
    <title>{% block title %}S-ARQ{% endblock %}</title>

</head>
<body style="background-color:white;">

<!-- Security token -->
<br />

{% block menu %}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
          
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'doc_novo' %}">Cadastrar Documentos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'doc_lista' %}">Documentos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'om_lista' %}">Destino/Origem</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'tipo_lista' %}">Tipo</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'caixa_lista' %}">Caixa</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'ano_lista' %}">Ano</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'tcu_lista' %}">TCU</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'tipo_guarda_lista' %}">Tipo de Guarda</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'status_lista' %}">Status</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="{% url 'perfil_usuario' %}">Perfil</a>
        </li>


        {% if request.user|has_role:"sin" %}

        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'cadastro' %}">Cadastro</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'listar_logs' %}">Relatorio</a>
        </li>
        
        
        {% endif %}
        {% endif %}

        <li class="nav-item">
          <a class="nav-link" href="{% url 'cod_lista' %}">Códigos</a>
        </li>

           
      </ul>
      <form class="d-flex">
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="btn btn-outline-danger">Sair</a>
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-outline-success">login</a>
        {% endif %}
      </form>
    </div>
  </div>
</nav>

  {% endblock %}

	
  {% block content %}
  <div class="container-fluid">
      <div class="row justify-content-center">
          <div class="col-12 mx-auto">
              {% block inner_content %}{% endblock %}
          </div>
      </div>
  </div>
  {% endblock %}

  {% block rodape %}

  {% endblock %}
 <!-- Bootstrap JS (Optional) -->

 <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
 <script src="{% static '/js/js/jquery-3.6.0.min.js' %}"></script>
	
</body>
</html>
