{% extends 'base.html' %}
{% block title %}Pagina Inicial{% endblock %}
{% block content %}

            <form method="post" id="alunoForm" data-related-url="{% url 'ajax_load_related_data_om' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit">
            </form>
            
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script>
                $("#id_fk_forca_orgao").change(function () {
                    const url = $("#alunoForm").attr("data-related-url");
                    const forcaOrgaoId = $(this).val();
            
                    $.ajax({
                        url: url,
                        data: {
                            'forca_orgao_id': forcaOrgaoId
                        },
                        success: function (data) {
                            $("#id_fk_posto").html(data.postos_options);
                            $("#id_fk_quadro").html(data.quadros_options);
                            $("#id_fk_especialidade").html(data.especialidades_options);
                        }
                    });
                });
            </script>
            


{% endblock %}

