{% extends 'base.html' %}
{% block title %}Confirmação de Exclusão{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3>Confirmação de Exclusão</h3>
            <p>Você está prestes a excluir o registro com ID: {{ aluno_ob.id }}</p>
            <p>Tem certeza que deseja prosseguir?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Sim, excluir</button>
                <a href="{% url 'aluno_lista'%}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}