{% extends 'base.html' %}
{% block title %}Pagina Inicial{% endblock %}
{% block content %}

{% csrf_token %}
<div class="container">
    <div class="row">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
                {% elif message.tags == 'error' %}
                <div class="alert-error alert" role="alert">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <div class="col-md-15">
            <a href="{% url 'aluno_novo' %}" class="btn btn-primary">NOVO ALUNO</a>
            <div class="col-8 m-auto pt-4 pb-2 text-center">

                <table class="table">
                    <!-- Cabeçalho da tabela... -->
                </table>

                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th style="text-align: center">ID</th>
                            <th style="text-align: center">Tipo</th>
                            <th style="text-align: center">Status</th>
                            <th style="text-align: center">Turma</th>
                            <th style="text-align: center">Curso</th>
                            <th style="text-align: center">F/O</th>
                            <th style="text-align: center">Posto</th>
                            <th style="text-align: center">Nome</th>
                            <th style="text-align: center">CPF</th>
                            <th style="text-align: center">Email</th>
                            <th style="text-align: center">Nota</th>
                            <th style="text-align: center">código Hash</th>
                            <th style="text-align: center">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in dataset %}
                        <tr>
                            <td style="text-align: center">{{ data.id }}</td>
                            <td style="text-align: center">{{ data.fk_in_ex }}</td>
                            <td style="text-align: center">{{ data.fk_status }}</td>
                            <td style="text-align: center">{{ data.fk_turma }}</td>
                            <td style="text-align: center">{{ data.fk_curso }}</td>
                            <td style="text-align: center">{{ data.fk_forca_orgao }}</td>
                            <td style="text-align: center">{{ data.fk_posto }} {{ data.fk_quadro }} {{ data.fk_especialidade }}</td>                    
                            <td style="text-align: center">{{ data.fk_tratamento }} {{ data.aluno_nome }}</td>
                            <td style="text-align: center">{{ data.aluno_cpf }}</td>
                            <td style="text-align: center">{{ data.aluno_email }}</td>
                            <td style="text-align: center">{{ data.aluno_nota }}</td>
                            <td style="text-align: center">{{ data.aluno_nota }}</td>
                            <td style="text-align: center">{{ data.codigo_hash }}</td>
                            <td> 
                            {% if data.codigo_hash %}
                                <!-- O aluno tem um certificado -->
                                <a href="/geraPDFAluno/{{ data.id }}/" class="btn btn-info" target="_blank">Gerar Certificado</a>
                            {% else %}
                                <!-- O aluno não tem um certificado -->
                                <a href="/aluno_hash/{{ data.id }}/" class="btn btn-primary" >Gerar Hash</a>
                            {% endif %}
                                <a href="/aluno_editar/{{ data.id }}/" class="btn btn btn-warning">EDITAR</a>
                                <a href="/aluno_delete/{{ data.id }}/" class="btn btn-danger">EXCLUIR</a>

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- Adicionar os links de navegação para as páginas -->
                <!-- <div class="pagination">
                    <span class="step-links">
                        {% if dataset.has_previous %}
                            <a href="?page=1">&laquo; primeira</a>
                            <a href="?page={{ dataset.previous_page_number }}">anterior</a>
                        {% endif %}

                        <span class="current">
                            Página {{ dataset.number }} de {{ dataset.paginator.num_pages }}.
                        </span>

                        {% if dataset.has_next %}
                            <a href="?page={{ dataset.next_page_number }}">próxima</a>
                            <a href="?page={{ dataset.paginator.num_pages }}">última &raquo;</a>
                        {% endif %}
                    </span>
                </div> -->
            </div>
        </div>
    </div>
</div>

{% endblock %}
