{% extends 'base.html' %}
{% block title %}Pagina Inicial{% endblock %}
{% block content %}

{% csrf_token %}

        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
                {% elif message.tags == 'error' %}
                <div class="alert-error alert" role="alert">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}

        
            <a href="{% url 'om_novo' %}" class="btn btn-primary">NOVA OM</a>
           

                <table class="table">
                    <!-- Cabeçalho da tabela... -->
                </table>

                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th style="text-align: center">id</th>
                            <th style="text-align: center">OM</th>
                            

                            {% load permission_tags %}
                            {% if request.user|has_role:"sin" or request.user|has_role:"arq_admin" %}
                            <th style="text-align: center">Nome Usuario</th>
                            <th style="text-align: center">Ações</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in dataset %}
                        <tr>
                            <td style="text-align: center">{{ data.id }}</td>
                            <td style="text-align: center">{{ data.om }}</td>
                            
                            {% load permission_tags %}
                            {% if request.user|has_role:"sin" or request.user|has_role:"arq_admin" %}
                            <td style="text-align: center">{{ data.fk_user }}</td>
                            <td style="text-align: center">
                                
                                <a href="/om_editar/{{ data.id }}/" class="btn btn-primary">EDITAR</a>
                                <a href="/om_delete/{{ data.id }}/" class="btn btn-danger">EXCLUIR</a>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- Adicionar os links de navegação para as páginas -->
                <!-- <div class="pagination">
                    <span class="step-links">
                        {% if dataset.has_previous %}
                            <a href="?page=1">&laquo; primeira</a>
                            <a href="?page={{ dataset.previous_page_number }}">anterior</a>
                        {% endif %}

                        <span class="current">
                            Página {{ dataset.number }} de {{ dataset.paginator.num_pages }}.
                        </span>

                        {% if dataset.has_next %}
                            <a href="?page={{ dataset.next_page_number }}">próxima</a>
                            <a href="?page={{ dataset.paginator.num_pages }}">última &raquo;</a>
                        {% endif %}
                    </span>
                </div> -->


{% endblock %}
